* {box-sizing: border-box
            }
            body {
                margin:0}
            .mySlides {
                display: none
            }
            img {
                min-height: 40vh;
    width:100%;
    display:flex;
    align-items : center;
    justify-content: center;
            }
            
.logo{
    color:white;
    cursor:pointer;
    
}
            /* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 20%;    
  position: relative;
  margin: auto;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin:70px;
  margin-top: -22px;
  color: white;
  font-weight: normal;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: -1px 1px 20px rgb(29, 28, 17);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.line2{
    height:45px;
    width:100%;
    background:linear-gradient(to right, #fb5283, #ff3527);
    font-family: 'Raleway', sans-serif;
    font-size:1.25rem;
}
.line2 p{
    position:relative;
    top:50%;
    left:55%;
    transform: translate(-50%, -50%);
    display:flex;
    font-weight:100;
    z-index:1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

            .division{
                width: 100%;
                display: flex;
                flex-direction: row;
               
            }
     
            body{
                background-color: black;
                margin-bottom: 0px;
            
            }
                
            .slide-right{
                
                width: 800%;
                overflow: hidden;
                margin-left: auto;
                margin-right:auto;
                max-width: 800px         
            }

            .slide-right h1{
                
                animation: 3s slide-right;
                animation-delay: 1s;          
            }

            @keyframes slide-right {
                from {
                margin-left: -500px;        
                }

                to {
                margin-left: 0%;        
                }